$spacings: (
  "xs": 5px,
  "sm": 10px,
  "md": 15px,
  "lg": 25px,
  "xl": 40px
);

:root {
	@each $name, $size in $spacings {
		--spacing-#{$name}: #{$size};
	}
}

@each $name, $size in $spacings {
  .m-#{$name} { margin: $size; }
  .mt-#{$name} { margin-top: $size; }
  .mr-#{$name} { margin-right: $size; }
  .mb-#{$name} { margin-bottom: $size; }
  .ml-#{$name} { margin-left: $size; }

  .p-#{$name} { padding: $size; }
  .pt-#{$name} { padding-top: $size; }
  .pr-#{$name} { padding-right: $size; }
  .pb-#{$name} { padding-bottom: $size; }
  .pl-#{$name} { padding-left: $size; }
}